body{
  background-color: #e1e2e4 !important;
}
#Navegador{
    background-color: #1E0540 !important;
    color: #fff !important ;
    margin: 0px 0px 0px 0px !important;
    
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  padding-left: 0px!important;
  padding-right: 0px!important;
  width: 97.8% !important;
}


#titulo{
  background-color: #fff;
  color: #878A8E;
}

.navbar-nav a {
  color: #fff !important;
}
.nav-link.active{
  color: #f2b705;
}




#contenedorDatosP{
 
padding:10px;

}
#contenedorTabla{
  background-color: #f2f2f2;
  padding: 10px 10px 10px 80px;
}

#tarjeta{
  background-color: white;
  margin: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);

    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border:none;
  height: 350px;
  border-top: 10px solid #f2b705;
}
#tarjeta h3{
  color: #f2b705;
  font-size: 25px;
  text-align: center;
}
#carrusel h5{
  font-size: 50px;

  color: black;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  text-shadow: -4px 3px 0 #f2b705;
}
#carruselNomina h5{
  font-size: 50px;

  color: black;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  text-shadow: -4px 3px 0 #f2b705;
}


#tarjetaCategoria{
  background-color: white;

  margin: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);

    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border:none;
 
  border-top: 10px solid #f2b705;
}

#tarjetaCategoria h3{
  color: #f2b705;
  font-size: 25px;
  text-align: center;
}
#nomina{
  margin: 30px;
  padding: 10px;
  color: #D98989;
  font-size: 25px;
  text-align: center;
  border-top: 10px solid #D98989;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);

    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.containernum{
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
background-color:#1E0540;
margin: 40px;
padding:30px;
text-align: center ;



}


#Bcalcular{
  display: inline-block;
  margin: 0 ;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 13px 6px 21px -1px rgba(0,0,0,1);
-moz-box-shadow: 13px 6px 21px -1px rgba(0,0,0,1);
box-shadow: 13px 6px 21px -1px rgba(0,0,0,1);
float: right;
 
}
#contyenedor{
  background-color: white;
  padding: 50px 10px 10px 80px;
}

#avatar i{
  color: #f2b705;
  font-size: 180px;
}
 
#frm{
margin-top:10%;
}

.guardad i{
  color: #fff;
}

  #categorias{ 
    margin: 10px;
  }
  
  #categorias i{
    color: #f2b705;
    font-size: 20px;
  }
#tabla{
  font-size: 15px;
  background-color: #fff;
}
#contenedorTabla{
  padding: 2%;

}

#contenedorTabla h5{
  color: #f2b705;
}

#tabla th{
  color: #1E0540;
}
#esSalario{
  color: #1E0540;
  font-weight: 500;
}

#frm i{
  color: #f2b705;
}

#groupTarjetas{
  margin: 10px;
  padding: 10px;
 
}
#grouptablas{
  background-color: #fff;
  margin-left: 50px;
}

#ideTarjeta{
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  color: #f2b705;
  font-size: 25px;
  text-align: center;
  border-top: 10px solid #f2b705;
  height: 150px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);

    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
#ideTarjeta i{
  color: #f2b705;
  font-size: 60px;
}
#ideTarjeta p{
  font-size: 20px;
}

#ideTarjeta2{
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  color: #1E0540;
  font-size: 25px;
  text-align: center;
  border-top: 10px solid #1E0540;
  height: 150px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);

    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
#idtarjeta2 i{
color: 1E0540;
}

#ideTarjeta3{
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  color: #249b06;
  font-size: 25px;
  text-align: center;
  border-top: 10px solid #249b06;
  height: 150px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);
  box-shadow: 10px 10px 5px 0px rgba(148,145,148,1);

    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

#idtarjeta3 i{
  color: #249b06;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: #ecf4ff;
}
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
 background-color: #fff;
}
.table-striped>thead>tr>th {
   background-color: #fff;
}
.table:hover{
  background-color: #fff !important;
}
